.input-field {

	height: 44px;
	width: 100%;
	border-radius: 0px;
	border: 1px solid #ddd;
	background-color: #f6f6f6;
}

.width-44 {

	width: 44%;
}

.bg-login {
	background-color: #00a6ce;
}


.red {
	color: red;
}